.container {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
}

.menu {
  height: 100%;
  width: 20%;

  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.menu_content {
  padding: 2.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.sub_title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.sec_title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.page_title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;

  padding-left: 1em;
}

.page_content_title {
  font-size: 7.5rem;
  font-weight: 300;
  /* line-height: 1.2; */
  margin-top: 0;
  /* margin-left: 1rem; */

  font-family: "Roboto";
  font-style: italic;
}

.page_content_subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-family: "Roboto";
}

.page_content_content {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  line-height: 1.8em;
  font-size: 1.5rem;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 1em;
}

.page_content_container {
  margin-top: 3rem;
  width: 100%;
}

hr {
  background: rgba(127, 127, 127, 0.2);
  border: 0;
  height: 1px;
  display: block;

  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.clickable {
  color: rgba(0, 0, 0);
  cursor: pointer;
  /* filter: blur(1px); */
}

.clickable:hover {
  color: rgba(194, 194, 194, 1);
  filter: blur(1px);
}

.clickable.active {
  color: rgba(194, 194, 194, 1);
  filter: blur(1px);
}

/* CONTENT */
.content {
  height: 100%;
  width: 80%;
}

.gallery {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  /* margin: -0.5rem; */
  padding: 0.5rem;
}

.page_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  padding: 0.5rem;
  padding-top: 2.5rem;
  padding-left: 5rem;
  width: 90%;
}

.grid {
  width: 50%;
  aspect-ratio: 16/9;

  box-sizing: border-box;
  padding: 0.25rem;
}

.grid_content {
  background-color: gray;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

b {
  font-weight: 600;
}

.img_aspect {
  width: 100%;
  aspect-ratio: auto;
  height: auto;
}
